@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: "Barlow", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Barlow", serif,
   monospace;
}
